body {
    background: white; 
  }


    /* Form */

  input::placeholder {
  /* padding-left: 15px; */
  text-align:justify;
    
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  color: #D3D3D3;
  }

#header{
  position: absolute;
width: 82px;
height: 24px;
left: 600px;
top: 117px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 24px;

color: #000000;
}

.bckto{
  position: absolute;
  width: 266px;
  height: 20px;
  left: 509px;
  top: 400px;
  
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  
  text-align: center;
  
  color: #000000;
  

}

.bcktosignup{
  position: absolute;
width: 266px;
height: 20px;
left: 509px;
top: 326px;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
/* identical to box height */

text-align: center;

color: #000000;

}

.flashes{

  position: absolute;
width: 376px;
height: 16px;
left: 485px;
top: 225px;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 11px;

color: #FF0000;

}